<h1><%= @place.name %></h1>

<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6">
<% if @current_user %>
  <h2>My Posts</h2>
  <% for post in @place.posts.where({ user_id: @current_user.id }) %>
    <h3><%= post.title %></h3>
    <h4><%= post.posted_on %></h4>
    <p><%= post.description %></p>

          <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post.image %>" class="img-fluid">
      <% end %>

  <% end %>

     <div class="row">
      <div class="col-sm-0">
        <a href="/posts/new?place_id=<%= @place.id %>" class="btn btn-success" >New Post</a>
      </div>
    </div>


      <div class="row">
      <div class="col-sm-0">
        <a href="/places" class="btn btn-success">Back to All Places</a>
      </div>
    </div>
<% end %>

 </div>
    </div>
    </div>